@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/colors';


$open-sans: 'Open Sans', sans-serif;
$bree-serif: 'Bree Serif', serif;


@function quarter-width($first) {
  @return $row-length / $first;
}
@function half-height($first) {
  @return $row-length / $first;
}

$row-length: 92vw;
.container {
  margin: auto;
  max-width: 1001px;
}

[class*='col'] {
  float: left;
  padding: .5% 1em;
  min-height: 1px;
  max-height: 225px;
  font-family: $open-sans;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-content {
  margin-left: 3%;
  margin-bottom: 100px;
}

.col-a {
  @include lrg-col;
}
.col-b {
  @include sml-col;
  max-height: 125px;
}

@for $stretch-col from 1 through 20 {
  $width: percentage(1 / $stretch-col);
  .col-#{$stretch-col} {
    width: $width;
  }
}


.col-1 {
  background-color: $mint;
}
.col-2 {
  background-color: $teal;
}
.col-3 {
  background-color: $gold;
}
.col-4 {
  background-color: $tomato;
}
.col-5 {
  background-color: $mint-tier-one
}
.col-6 {
  background-color: $teal-tier-one;
}
.col-7 {
  background-color: $gold-tier-one;
}
.col-8 {
  background-color: $tomato-tier-one;
}
.col-9 {
  background-color: $mint-tier-two;
}
.col-10 {
  background-color: $teal-tier-two;
}
.col-11 {
  background-color: $gold-tier-two;
}
.col-12 {
  background-color: $tomato-tier-two;
}
.col-13 {
  background-color: $mint-tier-three;
}
.col-14 {
  background-color: $teal-tier-three;
}
.col-15 {
  background-color: $gold-tier-three;
}
.col-16 {
  background-color: $tomato-tier-three;
}
.col-17 {
  background-color: $mint-tier-four;
}
.col-18 {
  background-color: $teal-tier-four;
}
.col-19 {
  background-color: $gold-tier-four;
}
.col-20 {
  background-color: $tomato-tier-four;
}

.open-sans {
  font-family: $open-sans;
}
.bree-serif {
  font-family: $bree-serif;
}

.aa {
  color: $mint;
}

.bb {
  color: $teal;
}
.cc {
  color: $gold;
}
.dd {
  color: $tomato;
}
.heading-samples h4 {
  color: $gold-tier-two;
}
.heading-samples p:last-child {
  font-size: 10px;
}

.numero {
  color: lightgrey;
}

@media screen and (max-width:700px) {
  .row {display: block;
  }
  .col-a {
    width: 50%;
  }
  .col-b {
    width: 25%;
  }
}
@media screen and (max-width:475px){
  .row {
    display: block;
  }
  .col {
    width: 100%;
  }
}

@media screen and (min-width: 475px) {
  @for $stretch-text from 5 through 20 {
    $size: percentage(1 / $stretch-text);
    .col-#{$stretch-text} {
      font-size: $size;
    }
  }
}
