$mint: #d8f5e8;
$teal: #2bccc3;
$tomato: #fe623f;
$gold: #ffbc17;

$mint-tier-one: mix($mint, $mint, 65%);
$teal-tier-one: mix($teal, $mint, 65%);
$gold-tier-one: mix($gold, $mint, 65%);
$tomato-tier-one: mix($tomato, $mint, 65%);
$mint-tier-two: mix($mint, $teal, 65%);
$teal-tier-two: mix($teal, $teal, 65%);
$gold-tier-two: mix($gold, $teal, 65%);
$tomato-tier-two: mix($tomato, $teal, 65%);
$mint-tier-three: mix($mint, $gold, 65%);
$teal-tier-three: mix($teal, $gold, 65%);
$gold-tier-three: mix($gold, $gold, 65%);
$tomato-tier-three: mix($tomato, $gold, 65%);
$mint-tier-four: mix($mint, $tomato, 65%);
$teal-tier-four: mix($teal, $tomato, 65%);
$gold-tier-four: mix($gold, $tomato, 65%);
$tomato-tier-four: mix($tomato, $tomato, 65%);
